/Array cahapter7/build/
/Array cahapter7/nbproject/private/
/com.Chapter9/build/
/com.Chapter9/nbproject/private/
/Chapter 10/nbproject/private/
/Chapter 10/build/
/Evidance/nbproject/private/
/Chapter 11/nbproject/private/
/Chapter 12/nbproject/private/
/Chapter 12/build/
/Chapter 13/nbproject/private/
/Chapter 13/build/
/Evidance/build/
/test/nbproject/private/
/RemovrDiak/nbproject/private/
/RemovrDiak/build/
/JavaApplication18/nbproject/private/
/Chapter20/nbproject/private/